.footer_section{
	background-color: #333;
	padding: 20px 10px;
}
.card-footer b{
	color: #e10098
}
.center-footer{
	text-align: center;
	color: #fff;
	font-size: 10px;
}
.footer-style-text{
	color: #fff;
	font-size: 10px;
}
.card-footer{
	line-height: 5px
}
.store_footer{
	font-family: 'robotolight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e10098 !important;
}
.redes-sociales a{
	margin: 10px;
	color: #e10098
}