.h-nav li{
font-family: 'robotoregular', sans-serif;
}

.h-nav{
	background-color: #fff;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.h-nav li a{
	text-decoration: none;
    color: #8d8d8d;
    letter-spacing: 0;
    padding: 0px 5px;
    font-size: 10px
}
.h-nav ul a:hover{
	color: #E10098;
	background-color: rgba(0, 0, 0, 0);
}

.h-menu{
	background-color: #E10098;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.h-menu input{
	width: 389px;
	color: #000;
}
.m-search{
	padding: 0px 7px;
}
.h-menu i {
	color: white;
}
#mobile-demo i{
	color: #000;
}
.h-menu li{
	border-right: 1px solid #FB89C5;
}
.h-menu .dropdown-content li > a, .dropdown-content li > span{
	color: #000;
}