.footer_section
	.row
		.col.m3.card-footer
			p: b SOPORTE AL CLIENTE
			p: a.footer-style-text(href="#") Facturación
			p: a.footer-style-text(href="#") Recuperar contraseña
			p: a.footer-style-text(href="#") Mis Pedidos
			p: a.footer-style-text(href="#") Ayuda al cliente
			p: a.footer-style-text(href="#") Preguntas frecuentes
			p: a.footer-style-text(href="#") Click&Collect
			p: a.footer-style-text(href="#") Cambios, devoluciones y cancelaciones
		.col.m3.card-footer
			p: b SERVICIOS LIVERPOOL
			p: a.footer-style-text(href="#") Crédito Liverpool 
			p: a.footer-style-text(href="#") Tiempo aire
			p: a.footer-style-text(href="#") Mesa de regalos
			p: a.footer-style-text(href="#") Seguros Liverpool
			p: a.footer-style-text(href="#") Concursos y promociones
			p: a.footer-style-text(href="#") Formas de pago
			p: a.footer-style-text(href="#") Viajes
		.col.m3.card-footer
			p: b ACERCA DE LIVERPOOL
			p: a.footer-style-text(href="#") Acerca de nosotros 
			p: a.footer-style-text(href="#") Bolsa de trabajo
			p: a.footer-style-text(href="#") Relación con inversionistas
			br
			p: b HORARIO DE TIENDA
			p: a.footer-style-text(href="#") Lunes a Domingo de 11:00 am a 09:00pm
			p.store_footer ubica una tienda mas cercana
		.col.m3.card-footer
			p: b VENTAS POR TELÉFONO
			p: a.footer-style-text(href="#") 5262-9999 / 01 800 713 5555
			p: a.footer-style-text(href="#") Desde tu celular *7171
			br
			p: b COMENTARIOS Y SUGERENCIAS
			p: a.footer-style-text(href="#") atencion@liverpool.com.mx
			p: b SUSCRÍBETE
			button(class=" grey darken-3 waves-effect waves-light btn") Suscríbete a nuestro boletín
			p.redes-sociales
				b SÍGUENOS
				a(href="#"): i(class="fab fa-facebook-f")  
				a(href="#"): i(class="fab fa-twitter")    
				a(href="#"): i(class="fab fa-instagram")   

	hr
	.row
		.center-footer
			p Precio en rojo incluye descuento más alto pagando de contado. Las promociones de www.liverpool.com.mx pueden diferir de las promociones publicadas en tienda El formato de los precios puede verse afectado por las configuraciones y diferencia de navegadores.
			p *La promoción aplica solo a productos participantes.
			p *Las promociones de vinos y licores no aplican para los estados de: Sonora, Chihuahua, Yucatán y Baja California.
			p Términos y condiciones | Aviso de privacidad © | Liverpool | Todos los derechos reservados D.R. ®

