.row
	ul.breadcrum
		li
			i(class="material-icons") play_arrow
			a(href="#" class="actual") Home
		li
			i(class="material-icons") play_arrow
			a(href="#" class="actual") Zapatos
		li
			i(class="material-icons") play_arrow
			a(href="#" class="actual") Caballeros
		li
			i(class="material-icons") play_arrow 
			a(href="#" class="actual") Deportivos
		li
			i(class="material-icons") play_arrow
			a(href="#" class="actual") Futbol
.row
	.col.s6
		
			.gallery
				.previews
					a(href="#" class="selected" data-full="../images/top1large.jpg")
						img(src="../images/top1small.jpg")
					a(href="#" class="selected" data-full="../images/top2large.jpg")
						img(src="../images/top2small.jpg")
					a(href="#" class="selected" data-full="../images/top3large.jpg")
						img(src="../images/top3small.jpg")
					a(href="#" class="selected" data-full="../images/top4large.jpg")
						img(src="../images/top4small.jpg")
					a(href="#" class="selected" data-full="../images/top5large.jpg")
						img(src="../images/top5small.jpg")
				.full
					img(src="../images/top1large.jpg")
	.col.s6
		
			.col.s6
				h1.nombre-prod Tenis Adidas Nemeziz Messi 17.4 FG fútbol para caballero
				span.sku Código de Producto.: 1065301050
				.star
					i(class="material-icons") star_border
					i(class="material-icons") star_border
					i(class="material-icons") star_border
					i(class="material-icons") star_border
					i(class="material-icons") star_border
				p.precio $1,499
					sup.decimalValuePrice 00
				.prod-color
					p color:
						b GRIS
					ul
						li(class="active"): a(href="#" style="background-color: #c6c7c9" title="GRIS" class="active")
				.prod-size
					p SELECCIONA TALLA: 
					input(list="tallas" class="browser-default" onchange="load_tallas(this)" onfocus="this.value=''")
					datalist(id="tallas")
						option(value="mx")
						option(value="usa")
					ul#tallas-list
						
			.col.s6
				.productAddToCart
					span.d-envio El envío se realizará cuando el artículo este disponible.
					.cantidad
						span.cantLabel CANTIDAD:
						.cant-box
							.less 
								span -
							.cant
								input(type="number" class="browser-default" value="1")
							.more
								span +
						button(type="button" class="btn waves-effect waves-light btn-send") Agregar a mi bolsa
							i(class="material-icons right") send
				.disponivilidad
					a.linkdsp(href="#") ver disponivilidad en tienda
.row
	.col.s9
		hr
		h1.nombre-prod CARACTERISTÍCAS
		.col.s6
			.row
				.col.s6.labels
					span: b Marca
				.col.s6
					span ADIDAS
			.row
				.col.s6.labels
					span: b Disiplina
				.col.s6
					span Fútbol
			.row
				.col.s6.labels
					span: b Género
				.col.s6
					span Caballero
			.row
				.col.s6.labels
					span: b Modelo
				.col.s6
					span CP9047
			.row
				.col.s6.labels
					span: b Material
				.col.s6
					span Sintético
			.row
				.col.s6.labels
					span: b Composición
				.col.s6
					span Mezcla sintética
		.col.s6
			.row
				.col.s6.labels
					span: b Otra Información
				.col.s6
					span Ideales para coordinar tu look y dar el máximo en la cancha, con ellos te harás notar y serás la diferencia al resto de los demás
			.row
				.col.s6.labels
					span: b Tipo de pisada
				.col.s6
					span Neutral
			.row
				.col.s6.labels
					span: b Tipo de Suela
				.col.s6
					span FG de tacos de fibra ideales para canchas de césped natural
			.row
				.col.s6.labels
					span: b Hecho en 
				.col.s6
					span Malasia
			.row
				.col.s6.labels
					span: b Instrucciones de Lavado
				.col.s6
					span A mano con agua fría, no usar blanqueador, ni detergentes agresivos. Secar a la sombra
		hr

