nav.h-nav
	.nav-wrapper
		a(href="#" class="brand-logo")
			img(src="../img/liverpool_logo.gif")
		ul(id="nav-mobile" class="right hide-on-med-and-down")
			li: a(href="#") SORTEOS
			li: a(href="#") BLOG
			li: a(href="#") TIENDAS
			li: a(href="#") PEDIDOS
			li: a(href="#") AYUDA