.row
	.col.m9.s12
		ul(class="collapsible" data-collapsible="accordion")
			li
				.collapsible-header.active OFERTAS ESPECIALES Y PROMOCIONES 
					i.material-icons expand_more
				.collapsible-body
					.row
						.col.m6(style="border-right:solid 1px")
							p: b Tarjetas de Liverpool
							ul.lstyle
								li
									b 3 meses 
									span sin intereses
								li
									b 6 meses 
									span sin intereses
								li
									span presupuesto liverpool/fabricas
						.col.m6
							p: b Otras Tarjetas
							ul.lstyle
								li
									b 3 meses 
									span sin intereses
								li
									span cuenta corriente externas

.row
	.col.m12.s12
		p: b ARTÍCULOS SIMILARES
		.owl-carousel.owl-theme.owl-loaded
			.item
				img(src="../images/1064906721.jpg" width="200px")
				p Tenis Nike Hypervenom Phelon III FG para caballero
				p.precio-art $ 1,849.00
				p.rebaja-art $ 1,386.75
			.item
				img(src="../images/1062492369.jpg" width="200px")
				p Tenis Nike Hypervenom Phelon III FG para caballero
				p.precio-art $ 1,849.00
				p.rebaja-art $ 1,386.75
			.item
				img(src="../images/1062568748.jpg" width="200px")
				p Tenis Nike Hypervenom Phelon III FG para caballero
				p.precio-art &nbsp
				p.rebaja-art $ 1,386.75
			.item
				img(src="../images/1062168111.jpg" width="200px")
				p Tenis Nike Hypervenom Phelon III FG para caballero
				p.precio-art $ 1,849.00
				p.rebaja-art $ 1,386.75
			.item
				img(src="../images/1064906721.jpg" width="200px")
				p Tenis Nike Hypervenom Phelon III FG para caballero
				p.precio-art $ 1,849.00
				p.rebaja-art $ 1,386.75
			.item
				img(src="../images/1062568748.jpg" width="200px")
				p Tenis Nike Hypervenom Phelon III FG para caballero
				p.precio-art &nbsp
				p.rebaja-art $ 1,386.75
			.item
				img(src="../images/1062492369.jpg" width="200px")
				p Tenis Nike Hypervenom Phelon III FG para caballero
				p.precio-art &nbsp
				p.rebaja-art $ 1,386.75
