p: b ARTICULOS RECOMENDADOS
		.carousel.center(data-indicators="true")
			a(class="carousel-item" href="#one!")
				.item
					img(src="../images/1062168111.jpg" width="200px")
					p Tenis Nike Hypervenom Phelon III FG para caballero
					p.rebaja-art $ 1,386.75
			a(class="carousel-item" href="#two!")
				.item
					img(src="../images/1062492369.jpg" width="200px")
					p Tenis Nike Hypervenom Phelon III FG para caballero
					p.rebaja-art $ 1,127.00
			a(class="carousel-item" href="#three!")
				.item
					img(src="../images/1062568748.jpg" width="200px")
					p Tenis Nike Hypervenom Phelon III FG para caballero
					p.rebaja-art $ 1,750.00
			a(class="carousel-item" href="#four!")
				.item
					img(src="../images/1064906721.jpg" width="200px")
					p Tenis Nike Hypervenom Phelon III FG para caballero
					p.rebaja-art $ 1,849.00